.main {
  background-color: #58B9F7;
  overflow: auto;
  padding-top: 5%;
  position: relative;
}

body {
  background-color: #e0e0e0;
}

h1 {
  font-weight: 600;
}

@media only screen and (max-width : 320px) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  font-weight: 400;
}

h3  {
  font-weight: 200;
}


.fa-github-square {
  padding: 1%;
}

@media only screen and (max-width : 768px) {
  .fa-github-square {
    padding: 5%;
  }
}

.fa-linkedin-square {
  padding: 1%;
}

@media only screen and (max-width : 768px) {
  .fa-linkedin-square {
    padding: 5%;
  }
}

.fa-envelope {
  padding: 1%;
}

@media only screen and (max-width : 768px) {
  .fa-envelope {
    padding: 5%;
  }
}

.fa-github-square:hover {
  background-image:none !important;
  color: #CC0000 !important;
}

.fa-linkedin-square:hover {
  background-image:none !important;
  color: #CC0000 !important;
}

.fa-envelope:hover {
  background-image:none !important;
  color: #CC0000 !important;
}

.siteBtn {
  background-color: #58B9F7;
  margin-right: 5%;
  margin-top: 10%;
  display: inline-block;
}

@media only screen and (max-width : 320px) {
  .siteBtn {
    margin: 5%;
  }
}

.siteBtn:hover {
  background-color: #CC0000;
}

.codeBtn {
  background-color: #58B9F7;
  margin-left: 5%;
  margin-top: 10%;
  display: inline-block;
}

@media only screen and (max-width : 320px) {
  .codeBtn {
    margin: 5%;
  }
}

.codeBtn:hover {
  background-color: #CC0000;
}

#bounceArrow {
  position: relative;
  margin-top: 8%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  -webkit-animation: bounce 2s infinite ease-in-out;
}

#bounceArrow:hover {
  background-image: none !important;
  color: #CC0000 !important;
}

@-webkit-keyframes bounce {
  0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
  40%  { -webkit-transform: translateY(-20px); }
  80% { -webkit-transform: translateY(-10px); }
}

.content {
  padding-bottom: 6%;
}

.appDesc {
  font-size: 1em;
}

.section {
  padding-top: 10%;
}

#footer {
  background-color: #58B9F7;
  position: relative;
}
